* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.notification {
  box-shadow: none !important;
  border-radius: 0.4rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

$enable-shadows: true;
$enable-gradients: true;
$enable-caret: false;
$enable-responsive-font-sizes: true;

$theme-colors: (
  "primary": #6892d5,
  "light": #f8fcfb,
  "secondary": #79d1c3,
  "tertiary": #c9fdd7,
  "danger": #ff0033,
  "pinky": #e26c85,
);

$font-family-sans-serif:
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for macOS (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue",
  Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol" !default;

@import "bootstrap";
@import "animate.css";
